@charset "ISO-8859-1";
html{
    background: beige;
}
h1{
    font-family: "Jokerman", serif;
    text-align: right;
    font-size: 40px;
    margin-bottom: 0px;
}
hr{
    background: darkslateblue;
    height: 2px;
}

img {
    float: right;
}
div{
    font-size: 100px;
    font-family: Jokerman, serif;
    color: red;
    text-align: left;
}
.blink_me {
    animation: blinker 5s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

