html{
    background-color: beige;
}
h1{
    color: hotpink;
    font-size: 40px;
    font-family: Jokerman, serif;
    margin-top: 300px;
    text-align: center;
}
hr{
    background: darkslateblue;
    height: 2px;
}